1 ICON "logo.ico" 

 
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x4
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
    	BLOCK "040904b0"
    	{
    		VALUE "FileVersion", "1.0.0.0"
    		VALUE "ProductVersion", "1.0.0.0"
    		VALUE "CompanyName", "Wassimulator"
    		VALUE "CompanyShortName", "Wassimulator"
    		VALUE "OriginalFilename", "CactusViewer.exe"
    		VALUE "ProductShortName", "Cactus"
    		VALUE "ProductName", "Cactus Image Viewer"
    		VALUE "InternalName", "Cactus Image Viewer"
    		VALUE "FileDescription", "Cactus Image Viewer"
    	}
    }
    
    BLOCK "VarFileInfo"
    {
    	VALUE "Translation", 0x0409 0x04B0
    }
}

